Homework 21-2: Linear regression for MoMA artwork size

This assignment uses the MoMA artwork dataset from Labs 5 and 19. We will use linear regression to predict the height of oil paintings from their width.

1) Filter the data to make a new dataframe only containing oil paintings, which have "Oil on canvas" in the "Medium" column.

2) For the filtered data:

a) compute a linear model with width as the independent variable and height as the dependent variable

b) plot the scatter plot with the regression line

c) plot the histogram of the residuals from (a)
Note: The height and width columns have spaces in their name. You can use these names directly in the formula by surrounding them with Q(""), like this Q("Height (cm)"). Then use single quotes around the formula. Or, you can change just those two column names with the code:
art_dataframe.rename(columns = {"Width (cm)":"width", "Height (cm)":"height"}, inplace = True)

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.formula.api as smf

In [13]:
art = pd.read_csv("data/Artworks.csv")
art.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN

In [16]:
columns=["Title", "Date","name"]
art[columns].head()

                                               Title  Date
0  Ferdinandsbrücke Project, Vienna, Austria (Ele...  1896
1  City of Music, National Superior Conservatory ...  1987
2  Villa near Vienna Project, Outside Vienna, Aus...  1903
3  The Manhattan Transcripts Project, New York, N...  1980
4  Villa, project, outside Vienna, Austria, Exter...  1903

In [17]:
art['name'] = 'harrison'

In [18]:
columns=["Title", "Date","name"]
art[columns].head()

                                               Title  Date      name
0  Ferdinandsbrücke Project, Vienna, Austria (Ele...  1896  harrison
1  City of Music, National Superior Conservatory ...  1987  harrison
2  Villa near Vienna Project, Outside Vienna, Aus...  1903  harrison
3  The Manhattan Transcripts Project, New York, N...  1980  harrison
4  Villa, project, outside Vienna, Austria, Exter...  1903  harrison